/* Basic Portfolio Assignment */




html, body {
    height: 100%;
    align-content: center;
    margin: 0px;
}



body {
    background-image: url("../images/email-pattern.png");
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Heading Style */

h1 {
    font: 'Georgia', Times, Times New Roman, serif;
}

header {
    position: relative;
    background-color: white;
    height: 75px;
    width: 100%;
    padding: 20px;
    border-bottom: 10px;
    border-bottom-color: #ccc;
}

.heading {
    float: left;
    background-color: teal;
    color: white;
}

/* Content */

.content {
    flex: 1 0 auto;
}

.teal {
    color: teal;
}

.main-content {
    width: 960px;
    height: 500px;
    background-color: white;
    padding: 20px;
    margin: 20px 50px 20px 80px;
}

.paragraph {
    padding: 20px;
}

/* Navigation */

.navigation{
    float: right;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation ul li {
    list-style-type: none;
    display: inline;
}

.navigation li:not(:first-child):before {
    content: " | ";
}

/* Images */

#bioimage {
    float: left;
    padding: 20px;
    width: 200px;
    height: 200px;
}

/* Footer */

footer {
    position: sticky;
    background-color: #666666;
    width: 100%;
    color: white;
    text-align: center;
    border-top: 50px;
    border-top-color: teal;
}

.footer {
    flex-shrink: 0;
}


/* Clear Fix */

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }